In [6]:
import pandas as pd
df = pd.read_csv("C:\\Users\\racha\\Desktop\\DS-Internship\\data\\raw\\olist_customers_dataset.csv")
print(df.info())

<class 'pandas.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  str
 1   customer_unique_id        99441 non-null  str
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  str
 4   customer_state            99441 non-null  str
dtypes: int64(1), str(4)
memory usage: 3.8 MB
None

In [7]:
print(df.isnull().sum())
print(df.duplicated().sum())
print(df.isna().sum())

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64
0
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [8]:
print(df.head(10))

                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066
5  879864dab9bc3047522c92c82e1212b8  4c93744516667ad3b8f1fb645a3116a4
6  fd826e7cf63160e536e0908c76c3f441  addec96d2e059c80c30fe6871d30d177
7  5e274e7a0c3809e14aba7ad5aae0d407  57b2a98a409812fe9618067b6b8ebe4f
8  5adf08e34b2e993982a47070956c5c65  1175e95fb47ddff9de6b2b06188f7e0d
9  4b7139f34592b3a31687243a302fa75b  9afe194fb833f79e300e37e580171f22

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP
5                     89254         jaragua do sul             SC
6                      4534              sao paulo             SP
7                     35182                timoteo             MG
8                     81560               curitiba             PR
9                     30575         belo horizonte             MG

In [9]:
print(df['customer_id'].nunique())
print(df['customer_unique_id'].nunique())

99441
96096

**'customer_id' is the primary key**

In [10]:
print(df['customer_city'].str.replace(" ", "").str.isalpha().value_counts())
print(df['customer_state'].str.replace(" ", "").str.isalpha().value_counts())

customer_city
True     98990
False      451
Name: count, dtype: int64
customer_state
True    99441
Name: count, dtype: int64

In [11]:
print(df[~df['customer_city'].str.replace(" ", "").str.isalpha()].head(10))

                           customer_id                customer_unique_id  \
227   d6b41b191f1f643ff583898156e049cf  3a62a4803c77457a96c996a9db36a662
435   2122031cd11c82d905572a7958c2a117  4a362420541051d3d4055a777681ccbe
682   0b169717fec8c12a53790ce862ee480c  25e1b5240ae610b163924a49e7e85bc6
706   22a3b0e62211d8e0e28e374ce3cb6041  3f9d987156fddc08ef77f52d1a15c073
1342  b58dcebd1080a35715998c1c6b9f4d81  99da196553d9b67b1c762a712a8caaf6
1362  88a98577c0d60c958eaaab2bf1e57f2b  5f906880e2ce13b655bd34d324a48ea9
2079  7c029959cc691fbe5dba3ce8eee98d14  7582c4e0a81c88f5ea0ead98b083b876
2098  ff7920f10be4fe1845f0f029ec67bb9f  39afbf6a74f327b36e94ba08376a6029
2124  72788081fffc9ef714b9ba0e5c21e7d5  604a2d4c691fa883f0f8720ec32df7ea
2162  64c3b046e53fead1e450ccccfbe966a6  429e518ce8df99be0112d0a03be13c15

      customer_zip_code_prefix  customer_city customer_state
227                      28375      varre-sai             RJ
435                      13843     mogi-guacu             SP
682                      13845     mogi-guacu             SP
706                      13840     mogi-guacu             SP
1342                     42850   dias d'avila             BA
1362                     11930  pariquera-acu             SP
2079                     13840     mogi-guacu             SP
2098                     47400    xique-xique             BA
2124                     13846     mogi-guacu             SP
2162                      6900     embu-guacu             SP

In [12]:
print(df[~df['customer_city'].str.replace(" ", "").str.isalpha()].sample(10))

                            customer_id                customer_unique_id  \
94986  95b7f25b758ee66891d77a2ee4a1593a  12cc40879dc7329ad5675e890c977140
27027  42de37a682dcb7e06d2c183d7880e648  9618a533709845ae6707db5acfe31ab4
55810  2ab6108e1d12014a4acb8983df9f4edb  5cc480f06fa48eef1c809211e66507b9
9641   2f99094373caec27d1f367812e659547  ac4bd6797b63dc421edf4f643f513f14
85122  cee9119007f070eb70825712d2259005  f299134f7efff5b49cc413e408f1036c
37992  b8e5f13a17dbba03c377de6deb70c588  a37d93a33143997c599b74d6d76562d9
68956  e211679d1f3eeb540b0445486b181d2a  12801fd5c3c3edc3e49e16be7cea3912
63311  d950b7e95e9400faba66572054b14ef1  2f0707e133b36fc9fa76479aa8d728b8
72261  74b3e52242a168f2146e40d41f3f0399  438f2fe3d586268c20da486ccaf6eea2
55924  b998a8b305893c94ee5d60a8d79dfbf3  24af9d33418188ade58994554fe2fa30

       customer_zip_code_prefix          customer_city customer_state
94986                     13844             mogi-guacu             SP
27027                     42850           dias d'avila             BA
55810                     13844             mogi-guacu             SP
9641                      59570            ceara-mirim             RN
85122                     13457  santa barbara d'oeste             SP
37992                     13848             mogi-guacu             SP
68956                     76901              ji-parana             RO
63311                      6900             embu-guacu             SP
72261                     13450  santa barbara d'oeste             SP
55924                     89610         herval d'oeste             SC

In [13]:
print(df['customer_city'].str.contains(r'\d').value_counts())
print(df['customer_state'].str.contains(r'\d').value_counts())

customer_city
False    99440
True         1
Name: count, dtype: int64
customer_state
False    99441
Name: count, dtype: int64

In [16]:
df[df['customer_city'].str.contains(r'\d')].head(10)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
6333,94ea98eea015faad90cd64998848d18d,0b7fea4fad79c46f6c10b848e20e9115,29735,quilometro 14 do mutum,ES

*quilometro 14 do mutum* is a district in Brazil, so no need to edit it.

In [20]:
print(df.dtypes)

customer_id                   str
customer_unique_id            str
customer_zip_code_prefix    int64
customer_city                 str
customer_state                str
dtype: object

In [22]:
print(df['customer_id'].nunique())

99441

In [23]:
df['customer_state'][df['customer_state'] != df['customer_state'].str.upper()]

Series([], Name: customer_state, dtype: str)

In [30]:
df[df['customer_zip_code_prefix'] < 10000].head(10)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
6,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,4534,sao paulo,SP
13,eabebad39a88bb6f5b52376faec28612,295c05e81917928d76245e842748184d,5704,sao paulo,SP
17,c5c61596a3b6bd0cee5766992c48a9a1,b6e99561fe6f34a55b0b7da92f8ed775,7124,guarulhos,SP
18,9b8ce803689b3562defaad4613ef426f,7f3a72e8f988c6e735ba118d54f47458,5416,sao paulo,SP
22,2938121a40a20953c43caa8c98787fcb,482441ea6a06b1f72fe9784756c0ea75,5713,sao paulo,SP
24,cb721d7b4f271fd87011c4c83462c076,a5844ba4bfc8d0cc61d13027c7e63bcc,8225,sao paulo,SP
25,f681356046d9fde60e70c73a18d65ea2,5f102dd37243f152aec3607970aad100,9121,santo andre,SP

In [31]:
df[df['customer_zip_code_prefix'] > 99999].head(10)

Empty DataFrame
Columns: [customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state]
Index: []